<a href="https://colab.research.google.com/github/kanishk16/routetoMIDASS/blob/master/Python_Problem/Python_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>**Necessary Installations & Imports**

In [7]:
!pip install jsonlines

Requirement already satisfied: jsonlines in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from jsonlines) (1.11.0)

In [0]:
import tweepy
import json
import jsonlines

In [0]:
!wget -c https://github.com/wbolster/jsonlines/tree/1.2.0

--2019-04-06 18:58:10--  https://github.com/wbolster/jsonlines/tree/1.2.0
Resolving github.com (github.com)... 192.30.255.112, 192.30.255.113
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘1.2.0’

1.2.0                   [ <=>                ]  82.30K  --.-KB/s    in 0.01s

2019-04-06 18:58:10 (5.48 MB/s) - ‘1.2.0’ saved [84279]

> **Task 1a : A python script to fetch all the tweets(as many as allowed by Twitter API) done by @midasIIITD twitter handle and dump the responses into JSONlines file**

> **Authorization for Twitter API**

In [0]:
"""
Stores tokens and keys
"""
consumer_key = "f69Ch2S4kVRsXbaZwhs0Qhc7M"
consumer_secret = "Z43Y85EwvKe3tOHVNAfvxEx7r7jmNliHhXDgZsdSnXuRIZKLKz"
access_key = "1034447027923374082-ftqEyERgMoJ8s8sMFICXfxy7UC44vs"
access_secret = "p8hg6CRuXVzn9yFxrnwObSCrm0gmW2PhKiveqw9SLwzsg"

In [0]:
# Authorization to consumer key and consumer secret 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 

# Access to user's access key and access secret 
auth.set_access_token(access_key, access_secret) 

# Calling api 
api = tweepy.API(auth)

In [0]:
# api check
api

>**Tweet Extraction**

In [0]:
# tweets to be extracted 
tweets = api.user_timeline(screen_name='midasIIITD', number_of_tweets=10) 

# tweet check
print(type(tweets))
print(type(tweets[0]))
print(type(tweets[0]._json))

<class 'tweepy.models.ResultSet'>
<class 'tweepy.models.Status'>
<class 'dict'>



> ** Tweepy Status Object to dict to JSON string (ENCODING) to dict to list(DECODING)**

In [0]:
# tweepy status object to json object
tweet_x = [json.loads(json.dumps(tweet._json)) for tweet in tweets]

# tweet_x check
print(type(tweet_x))
print(type(tweet_x[1]))
print(type(json.dumps(tweets[0]._json)))

<class 'list'>
<class 'dict'>
<class 'str'>

>** dump into a jsonlines file**

In [0]:
# Open a JSON file to dump all the tweets
with open('/content/twitter12.jsonl', mode='w') as writer:
  for ii in tweet_x:
    json.dump(ii, writer)
    writer.write('\n')

> **Function to fetch all tweets and dump their responses into a JSONL file**

In [10]:
# Function to fetch all tweets and dump them into a jsonlines file 
def get_tweets(username): 
          
        # Authorization to consumer key and consumer secret 
        auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
  
        # Access to user's access key and access secret 
        auth.set_access_token(access_key, access_secret) 
  
        # Calling api 
        api = tweepy.API(auth) 
  
        # tweets to be extracted 
        tweets = api.user_timeline(screen_name=username, count=200)
        
        # tweepy status object to json object
        tweet_x = [json.loads(json.dumps(tweet._json)) for tweet in tweets] 
        
       # Open a JSON file to dump all the tweets
        with open('/content/twitter.jsonl', mode='w') as writer:
          for ii in tweet_x:
            json.dump(ii, writer)
            writer.write('\n')
            
        # Printing the tweets 
        print("RECORDED") 
  
  
if __name__ == '__main__': 
  
    # Twitter handle whose tweets are to be extracted 
    get_tweets("midasIIITD")

RECORDED

In [0]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas) (1.11.0)

### Task1b: Parse the tweets from the .jsonl file and convert them into a tabular format

In [0]:
import pandas as pd

#tweet_store = []
with jsonlines.open('/content/twitter.jsonl', mode='r') as reader:
  for r in reader:
    tweet_store = [json.loads(json.dumps(r)) for r in reader]
    
    # sanity check 
    print(type(tweet_store))
    print(type(tweet_store[0]))

df = pd.DataFrame(tweet_store, columns=['text','created_at','favorite_count','retweet_count'])    
 
print(df)

In [0]:
images = []
for tweet in tweet_store:
  try:
    if tweet['entities']['media'][0]['type'] == 'photo':
      image_count += 1
  except:
    image_count = 0
  images.append(image_count)

In [23]:
df['images_count'] = images

print(df)

                                                  text  \
0    RT @IIITDelhi: Applications open for MTech (CB...
1    RT @IIITDelhi: We are delighted to share that ...
2    RT @Harvard: Professor Jelani Nelson founded A...
3    RT @emnlp2019: For anyone interested in submit...
4    RT @multimediaeval: Announcing the 2019 MediaE...
5    Many Congratulations to @midasIIITD student, S...
6    @midasIIITD thanks all students who have appea...
7    @himanchalchandr Meanwhile, complete CV/NLP ta...
8    @sayangdipto123 Submit as per the guideline ag...
9    We request all students whose interview are sc...
10   Other queries: "none of the Tweeter Apis give ...
11   Other queries: "do we have to make two differe...
12   Other queries: "If using Twitter api, it does ...
13   Response to some queries asked by students on ...
14   RT @kdnuggets: Top 8 #Free Must-Read #Books on...
15   @nupur_baghel @PennDATS Congratulation @nupur_...
16   We have emailed the task details to all candid...
17   RT @rfpvjr: Our NAACL paper on polarization in...
18   RT @kdnuggets: Effective Transfer Learning For...
19   RT @stanfordnlp: What’s new in @Stanford CS224...
20   RT @DeepMindAI: Today we're releasing a large-...
21   RT @ylecun: Congratulations Jitendra Malik !\n...
22   RT @IIITDelhi: Another chance to take admissio...
23   Dear @midasIIITD internship candidates who hav...
24   Looking forward to your paper submission to @I...
25   RT @ngrams: Reproducibility in multimedia rese...
26   Online application for https://t.co/DJFDrQsHZP...
27   RT @ACMMM19: A final reminder of the Reproduci...
28   RT @isarth23: Thanks for the support and help ...
29   Since SemEval-2019 will be held June 6-7, 2019...
..                                                 ...
169  RT @RatnRajiv: Fortunate to have appreciation ...
170  RT @Harvard: The study provides potential futu...
171  RT @UniofOxford: In the final episode of serie...
172  @ACMMM19: Call for Workshop Proposals \n\nDead...
173  @ACMMM19: Call for Grand Challenge Proposals\n...
174  Since 1993, ACM Multimedia has been bringing t...
175  @ACMMM19 is structured around four themes (alp...
176  ACM Multimedia 2019: First Call for Papers/Cal...
177  RT @ACMMM19: Happy new year! 2019 started with...
178  You may follow @midasIIITD updates through fol...
179  Today, @midasIIITD completed one year at @IIIT...
180  RT @debanjanbhucs: Happy anniversary to @midas...
181  Two Research Assistant (RA) positions are stil...
182  Positions for two Research Assistants (RA) are...
183  RT @TCoolsIT: I wrote a blogpost on CoreNLP hi...
184  @RatnRajiv delivered a research talk at the Ce...
185  @midasIIITD look forward to work together. htt...
186  @the_dhumketu @punnibhai @Hitkul_, FYI. https:...
187  RT @iiit_hyderabad: KCIS Distinguished Lecture...
188  RT @StanfordAILab: Our latest blog post is out...
189  RT @medialab: In two new papers, @PratikShahPh...
190  RT @RatnRajiv: Wonderful get together with our...
191  @ACMMM19 is the premier international conferen...
192  Feel free to contact us if you have any query ...
193  @NilayShri @RatnRajiv @ACMMM19 Looking forward...
194  @midasIIITD head, Dr. @RatnRajiv appointed as ...
195  @ACMMM19 @the_dhumketu fill the volunteer form...
196  RT @ACMMM19: New in 2019! Volunteer to serve a...
197  RT @IIITDelhi: Congratulations! authors Yaman ...
198  Best wishes to @midasIIITD students @_himanshu...

                         created_at  favorite_count  retweet_count  \
0    Wed Apr 10 04:51:26 +0000 2019               0              1
1    Tue Apr 09 16:45:07 +0000 2019               0             14
2    Tue Apr 09 05:04:27 +0000 2019               0             35
3    Tue Apr 09 05:04:11 +0000 2019               0             17
4    Mon Apr 08 19:38:09 +0000 2019               0             15
5    Mon Apr 08 07:08:12 +0000 2019              18              2
6    Mon Apr 08 03:27:42 +0000 2019               5              0
7    Sun Apr 07 14:17:29 +0000 2019               0              0
8    Sun Apr 07 14:17:09 +0000 2019               0              0
9    Sun Apr 07 11:43:24 +0000 2019               1              1
10   Sun Apr 07 06:55:19 +0000 2019               5              2
11   Sun Apr 07 06:53:38 +0000 2019               4              1
12   Sun Apr 07 05:32:27 +0000 2019               6              1
13   Sun Apr 07 05:29:40 +0000 2019               7              1
14   Sat Apr 06 17:11:29 +0000 2019               0              2
15   Sat Apr 06 16:43:27 +0000 2019              18              3
16   Fri Apr 05 16:08:37 +0000 2019              11              1
17   Fri Apr 05 04:05:11 +0000 2019               0             16
18   Fri Apr 05 04:04:43 +0000 2019               0             11
19   Wed Apr 03 18:31:53 +0000 2019               0             59
20   Wed Apr 03 17:04:32 +0000 2019               0            872
21   Wed Apr 03 09:03:40 +0000 2019               0             16
22   Wed Apr 03 07:46:02 +0000 2019               0              4
23   Tue Apr 02 04:20:13 +0000 2019               8              1
24   Tue Apr 02 02:44:54 +0000 2019               5              1
25   Tue Apr 02 02:35:44 +0000 2019               0              7
26   Mon Apr 01 06:53:08 +0000 2019               7              2
27   Sun Mar 31 10:21:24 +0000 2019               0             10
28   Fri Mar 29 19:43:24 +0000 2019               0              2
29   Fri Mar 29 17:16:40 +0000 2019               9              1
..                              ...             ...            ...
169  Thu Jan 10 08:48:17 +0000 2019               0              3
170  Wed Jan 09 02:05:06 +0000 2019               0              9
171  Mon Jan 07 09:05:12 +0000 2019               0             16
172  Sun Jan 06 12:54:06 +0000 2019               1              0
173  Sun Jan 06 04:29:25 +0000 2019               1              0
174  Sun Jan 06 04:09:54 +0000 2019               5              1
175  Sun Jan 06 04:07:29 +0000 2019               1              0
176  Sun Jan 06 04:05:38 +0000 2019               4              2
177  Thu Jan 03 06:14:05 +0000 2019               0              2
178  Tue Jan 01 17:21:49 +0000 2019               4              2
179  Tue Jan 01 17:17:56 +0000 2019              14              5
180  Tue Jan 01 16:14:24 +0000 2019               0              4
181  Thu Dec 27 10:28:31 +0000 2018               2              1
182  Thu Dec 27 09:59:06 +0000 2018               5              3
183  Thu Dec 27 02:33:58 +0000 2018               0             12
184  Wed Dec 26 09:41:04 +0000 2018              14              2
185  Tue Dec 25 04:15:15 +0000 2018               1              0
186  Tue Dec 25 03:00:21 +0000 2018               2              1
187  Mon Dec 24 07:39:21 +0000 2018               0             11
188  Fri Dec 21 03:50:39 +0000 2018               0             32
189  Thu Dec 20 18:05:35 +0000 2018               0              8
190  Thu Dec 20 06:14:52 +0000 2018               0              3
191  Wed Dec 19 02:16:31 +0000 2018               2              3
192  Tue Dec 18 14:42:27 +0000 2018               3              2
193  Tue Dec 18 14:27:12 +0000 2018               3              0
194  Tue Dec 18 14:15:32 +0000 2018              12              5
195  Tue Dec 18 12:34:10 +0000 2018               1              0
196  Tue Dec 18 12:33:42 +0000 2018               0              7
197  Tue Dec 18 04:38:35 +0000 2018               0              3
198  Mon Dec 17 16:57:00 +0000 2018              14              4

     images_count
0               0
1               0
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9               0
10              0
11              0
12              0
13              0
14              0
15              0
16              0
17              0
18              1
19              0
20              0
21              0
22              0
23              0
24              0
25              0
26              0
27              0
28              0
29              0
..            ...
169             0
170             0
171             0
172             0
173             0
174             0
175             0
176             0
177             0
178             0
179             0
180             0
181             0
182             0
183             0
184             0
185             0
186             0
187             0
188             0
189             0
190             0
191             0
192             0
193             0
194             0
195             0
196             0
197             0
198             0

[199 rows x 5 columns]